* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: #000;
  min-height: 100vh;
  height: 100%;
}

header {
  list-style-type: none;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 20px 100px;
  z-index: 10000;
}

header.sticky {
  padding: 5px 80px;
  background: rgb(46, 11, 65);
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  text-shadow: 0 0 5px;
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 1000px;
  transition: 0.3s;
  font-family: CaviarDreams;
  font-size: 1.5vw;
}

.sec {
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  background: url(background.png);
  background-size: cover;
}

.sec .frase {
  padding-top: 150px;
  justify-content: center;
  color: #fff;
  max-width: 85vw;
  text-align: center;
  font-size: 30px;
  font-family: CaviarDreams;
  margin-bottom: 12vh;
}

.sec .box-body {
  max-height: 100%;
  display: grid;
  padding-bottom: 15vh;
}

.sec .box {
  background: #060012;
  position: relative;
  display: grid;
  transition: 0.5s;
}

.sec .box:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: #fff;
}

.sec .box:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: #fff;
  filter: blur(40px);
}

.sec .box:before,
.sec .box:after {
  background: linear-gradient(135deg, #89ff00, #010615, #00BCD4);
}

.content-wrapper {
  background: #060012;
  z-index: 1;
  width: 80vw;
  padding-right: 15px;
}
.titulo{
  text-align: center;
  font-size: 40px;
  margin:3vh 0 2vh 0;
  font-weight: 500;
  font-family: CaviarDreams;
  color: white;
}
.setor{
  font-size: 30px;
  margin: 10px 0 0 15px;
  padding-top: 5vh;
  font-weight: 500;
  font-family: CaviarDreams;
  color: white;
}
.content-wrapper .nome {
  margin: 10px 0 3vh 15px;
  font-weight: 500;
  font-size: 25px;
  font-family: CaviarDreams;
  color: white;
  transition: 0.5s;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.content-wrapper .setor:hover .nome{
  border-color:rgba(255, 255, 255, 0.75);
}

.preço {
  color: white;
  font-family: CaviarDreams;
  float: right;
}
.zoom{
  color: rgb(205, 157, 255);
  text-shadow:0 0 20px 20px rgb(212, 175, 250);
  font-family:CaviarDreams;
  text-decoration: none;
}
.footer {
  background-color: rgb(27, 20, 34);
  overflow: hidden;
}

.footer .redes {
  display: table-row;
}

.footer .redes li {
  display: table-row;
  list-style: none;
  padding: 0 80px;
  font-size: 50px;
  text-decoration: none;
  color: white;
  font-family: CaviarDreams;
}

.footer .redes li a {
  text-decoration: none;
  color: white;
  font-family: CaviarDreams;
}

.footer .redes li a img {
  vertical-align: middle;
}

.footer .tcc {
  float: right;
  padding: 3% 7.5% 0 0;
}

.footer .tcc h2 {
  color: white;
  font-size: 50px;
  font-family: CaviarDreams;
  float: right;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width:1280px) {
  .footer .redes li {
    font-size: 35px;
  }

  .footer .tcc h2 {
    font-size: 35px;
  }

  .footer .tcc {
    padding: 7% 4.5% 0 0;
  }

  .sec .frase {
    font-size: 25px;
  }
  .setor{
    padding-top:5vh;
  }
}

@media only screen and (max-width:1024px) {
  .sec .box {
    width: 90vw;
  }
  .content-wrapper {
    background: #060012;
    z-index: 1;
    width: 90vw;
  }
  .sec .box-body{
    padding-bottom: 7vh;
  }
  .sec .frase {
    margin-bottom: 7vh;
    font-size: 40px;
  }
  .setor{
    padding-top:3vh;
  }
  .footer .redes li {
    font-size: 25px;
  }

  .sec .box .content .caracteristicas {
    font-size: 20px;
  }

  .footer .tcc h2 {
    font-size: 30px;
  }

  .footer .tcc {
    padding: 10% 5% 0 0;
  }

  header {
    padding: 25px 100px;
  }

  header.sticky {
    padding: 10px 80px;
  }

  header .logo img {
    width: 92%;
  }

  header ul li a {
    font-size: 1.85vw;
  }
}

@media only screen and (max-width:980px) {
  .footer .tcc {
    padding: 10% 5% 0 0;
  }
  .setor{
    padding-top:1vh;
  }
  .sec .box-body {
    min-height: auto;
  }

  .sec .frase {
    font-size: 25px;
    margin-bottom: 5vh;
  }
  .sec .box-body{
    padding-bottom:5vh;
  }
  header {
    padding: 25px 100px;
  }

  header.sticky {
    padding: 10px 80px;
  }

  header .logo img {
    width: 92%;
  }

  header ul li a {
    font-size: 1.85vw;
  }
}

@font-face {
  font-family: CaviarDreams;
  src: url('CaviarDreams.ttf');
}

@font-face {
  font-family: Harukaze;
  src: url('Harukaze.ttf');
}

@font-face {
  font-family: NeonTubes;
  src: url('NeonTubes2.otf');
}
